mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin-right: 40px;
  }

  a {
    margin-right: 20px;
    cursor: pointer;
  }
}
