<div class="container flex flex-col items-center gap-20">
    <div class="search-container px-8 flex justify-between w-full">
        <!-- input de busca -->
        <p-iconfield styleClass="w-4/12">
            <input
                styleClass="w-full"
                type="text"
                pInputText
                placeholder="Search"
                fluid
            />
            <p-inputicon styleClass="pi pi-search" />
        </p-iconfield>

        <!-- botão de adicionar -->
        <a routerLink="/pets/cadastro" class="p-button font-bold">
            Cadastrar pet
        </a>
    </div>
    <div class="w-[80%]">
        <router-outlet />
    </div>
</div>
