@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";

html, body { height: 100%; }
body { margin: 0; background-color: var(--p-surface-100);  }

@layer base {
    h1 {
        font-size: var(--text-2xl);
        font-weight: var(--font-bold);
    }
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem 0;
}


